{% extends 'layout.html' %}
{% block title %}
    Questions
{% endblock %}

{% block content %}
    <h2>All questions</h2>
    <p style="font-size: small; color: gray; margin-left: 20px; "><i>Click on the question to display details</i></p>

    <p style="color:#3B666B">Choose the order of listing questions:</p>

    <form name="order" action="/list_all" method="post">
    <div class="order_container">
        <fieldset>
            <label class="container">
            <input type="radio" name="order" value="title"> Title
             <span class="checkmark"></span></label><label class="container">
            <input type="radio" checked="checked" name="order" value="submission_time"> Submission Time
             <span class="checkmark"></span></label><label class="container">
            <input type="radio" name="order" value="vote_number"> Number of votes
             <span class="checkmark"></span></label><label class="container">
            <input type="radio" name="order" value="view_number"> Number of views
             <span class="checkmark"></span></label><label class="container">
            <input type="radio" name="order" value="message"> Message
                <span class="checkmark"></span></label>
            </div>
        </fieldset>
        <select>
          <option value="asc">Ascending</option>
          <option value="desc">Descending</option>
        </select><input type="submit" class ="select_order"  value="Select Order">
    </form>

    <br>

{% for question in questions %}
    <p class="front-links"><a href="{{ url_for('route_question', question_id=question['id']) }}">{{ question['title'] }}</a></p>

{% endfor %}
    <a href="/new_question"><input type="button" class="button" value="Add new question"></a>
    <a href="list"><input type="button" class="button_back" value="< < Back"></a>
{% endblock %}
