{% extends 'layout.html' %}
{% block title %}
    Edit Answer
{% endblock %}

{% block content %}
    <h1>Edit Answer</h1>
    <form action="{{form_url}}" method="post">
        <p>
            <label for="message">Answer:</label><br>

        <input type="text" name="message" id="message" size="200" value="{{actual_answer}}">

        </p>
        <a href="/list"><input type="button" class="button_back" value="Back to home"></a>
        <a href="{{ redirect_url }}"><input type="button" class="button_back" value="< < Back"></a>
        <input type="submit" class="button" value="Submit"></form>
{% endblock %}