<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{% block title %}Welcome!{% endblock %} | Ask Mate</title>

    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='style.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='font-awesome.css') }}">
</head>
<body>

<div class="login">
    <form class="form-inline" action="#">
        <input type="username" id="username" placeholder="Enter username" name="username" autocomplete="off">
        <input type="password" id="password" placeholder="Enter password" name="pswd" autocomplete="off">
        <button type="submit">Login</button>
        <a href="/register"><button type="button">Register</button></a>
    </form>
</div>
<div class="clear"></div>
<div class="container-box">

<div id="container">
<div class="search-container">
    <form action="/search" method="get">
      <input class="search_box" type="text" name="searched_word" placeholder="Search" required autocomplete="off"><a href="/search"><input type="image" value="Search" alt="submit" class="search_icon" src="{{ url_for('static', filename="search-solid.svg" )}}"></a>

    </form>
    </div>
{% block content %}
{% endblock %}

</div>

</div>


</body>
</html>