{% extends 'layout.html' %}
{% block title %}
    Questions
{% endblock %}

{% block content %}
    <h1 class="front-h1">Ask mate</h1>
    <form action="/search" method="get">
      <input type="text" name="searched_word" placeholder="Search" required autocomplete="off">
      <a href="/search"><img src="{{ url_for('static', filename="search_icon.png" )}}" alt="search" width="40px"></a>
    </form>
    <h2>List of questions</h2>
    <p style="font-size: small; color: gray; margin-left: 20px; "><i>Click on the question to display details</i></p>

{% for question in questions %}
    <p class="front-links"><a href="{{ url_for('route_question', question_id=question['id']) }}">{{ question['title'] }}</a></p>

{% endfor %}
    <a href="/new_question"><input type="button" class="button" value="Add new question"></a>
{% endblock %}


