{% extends 'layout.html' %}
{% block title %}
    New Question
{% endblock %}

{% block content %}
    <h1>Add new question</h1>
     <form action="/new_question" method="post">
        <p>
            <label for="title">Question:</label><br>
            <input type="text" name="title" id="title" required minlength="5" autocomplete="off">
        </p>
        <p>
            <label for="message">Detail:</label><br>
            <textarea name="message" id="message" cols="40" rows="4" required autocomplete="off"></textarea>
        </p>
    <a href="/list.html"><input type="button" class="button_back" value="Back to home"></a>
    <button type="submit" class="button" >Submit</button>
{% endblock %}