{% extends 'layout.html' %}
{% block title %}
    Question Details
{% endblock %}

{% block content %}

    <table>
            <caption><h1>Ask Mate</h1></caption>
              <tr>
                  {% for key in actual_question[0].keys(): %}
                      {%if key != "image" %}
                        <th> {{ key }} </th>
                      {% endif %}
                  {% endfor %}
              </tr>
            {% for data in actual_question: %}
                <tr>
                    {% for key, value in data.items() %}
                        {%if key != "image" %}
                            <td> {{ value }} </td>
                        {% endif %}
                    {% endfor %}
                </tr>
            {% endfor %}
    </table>
    <br>
 <h5>Answers</h5>
 <div class = "answers">
     {% for data in answers: %}
         <p class="answer_header">
        {% for key, value in data.items() %}
            {% if data["question_id"] == question_id and key != "message" %}
                {{ key+ ": " + value + ", " }}
            {% endif %}
        {% endfor %}
        </p>
        {% if data["question_id"] == question_id%}
            <p class="answer_content">{{ data["message"]}}</p>
        {% endif %}
    {% endfor %}
 </div>
     <a href="/answer"><input type="button" class="button" value="Post answer"></a><a href="/"><input type="button" class="button" value="Back to home"></a>
{% endblock %}