{% extends 'layout.html' %}
{% block title %}
    Question Details
{% endblock %}

{% block content %}
    <div class="table-container">
    <table>
            <caption><h4>Question Details</h4></caption>
              <tr>
                  {% for key in actual_question[0].keys(): %}
                      {%if key != "image" %}
                        <th> {{ key }} </th>
                      {% endif %}
                  {% endfor %}
              </tr>
            {% for data in actual_question: %}
                <tr>
                    {% for key, value in data.items() %}
                        {%if key != "image" %}
                            <td> {{ value }} </td>
                        {% endif %}
                    {% endfor %}
                </tr>

            {% endfor %}

    </table>
    <a href="{{ url_for('route_question_vote',question_id=actual_question[0]["id"],question_vote="up" )}}"><img src="{{ url_for('static', filename="thumbs-up-regular.svg" )}}" alt="Thumbs up" width="15px"></a> <img class="fa-thumbs-down"src="{{ url_for('static', filename="thumbs-down-regular.svg" )}}" alt="Thumbs down" width="15px">
    </div>
    <br>
     <h4>Answers</h4>
     <div class = "answers">
        {% if actual_answers|length >0 %}
            {% for data in actual_answers: %}
                <p class="answer_header">
                {% for key, value in data.items() %}
                    {% if  key != "message" %}
                        {{ key+ ": " + value + " " }}
                    {% endif %}
                {% endfor %}
            <p class="answer_content">{{ data["message"]}}</p>
            {% endfor %}
        {% else %}
            <p><i>No answers posted yet!</i></p>
      {% endif %}
      <img src="{{ url_for('static', filename="thumbs-up-regular.svg" )}}" alt="Thumbs up" width="15px" > <img src="{{ url_for('static', filename="thumbs-down-regular.svg" )}}" alt="Thumbs down" width="15px">
     </div>

     <a href="{{ url_for('route_answer',actual_id=actual_question[0]["id"] )}}"><input type="button" class="button" value="Post answer"></a><a href="/"><input type="button" class="button" value="Back to home"></a>
{% endblock %}